{% extends "base.html" %}
  
{% block title %}About Phage Host Finder{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1> About My Awesome Bioinformatics Project </h1>
    <p> <b>- Insert Background Info </b>
    <br><br>
        Antibiotic resistance is disseminating into a global crisis. Bacteria are developing immunity to
        most everyday drugs. Overprescribing such drugs, along with a lack of development of new drugs,
        has set the stage where superbugs are now a commonplace occurrence. Consequently, a significant
        amount of research has been redirected to tackle this rising problem. <br>
    <br>
        Nature offers a natural response to bacteria – Bacteriophages (phages). Phages, aka bacteria-eaters,
        infect and destroy bacteria cells. But there is one caveat. These phages are very specific to hosts.
        Hence, host ranges are not easily identifiable. Multiple avenues of explorations, such as viral tagging,
        wet lab research, and computational methods have been undertaken to assist with phage-host
        identification. PHage Host Finder aims to assist in the research by providing a resource to predict
        phage-host interactions more efficiently. This site focuses on a unique feature, the attP/attB site,
        a homologous sequence present in both phage and bacteria respectively. This site is the attachment site where the phage
        integrates its DNA into the bacteria. A match between phage and bacteria would indicate the likelihood of a
        successful phage infection of that host.
        <br> <br>
        Summarize the attp-attb process



    </p>
    <p> - Insert site tutorial.  Describe input and outputs  </p>
    <p> - Insert site example </p>
    <p> - Insert project / RCNJ footer</p>
</div>
{% endblock %}
~                
