{% extends "bootstrap/base.html" %}

{% block title %}
Phage Hosts{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Phage Hosts</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/search">Search <span class="sr-only">(current)</span></a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div>
        </div>
    </nav>
{% endblock %}

{% block content1 %}
<div class="container">

</div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
    {% block footer %}
    <footer class="footer">
        <div class="copyright">&copy; <img src="../static/images/RCNJ.png" width="100"></div>
        <div class="email-addresses text-right">
            <div class="author">
               <div>Esther Jakubowicz </div>
               <div>
                   <a class="glyphicon glyphicon-envelope" href="mailto:ejakubow@ramapo.edu">ejakubow@ramapo.edu</a>
               </div>
            </div>
            <div class="author">
                <div>Dr. Ash Stuart</div>
                <div>
                    <a class="glyphicon glyphicon-envelope" href="mailto:astuart@ramapo.edu">astuart@ramapo.edu</a>
                </div>
            </div>
        </div>
    </footer>

    <link href="../static/css/sticky-footer.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
    {% endblock %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src = "../static/js/myScripts.js" > </script>
{% endblock %}

