{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Search Presidents{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Phage Host Finder</h1>
<br>
  <body>
    <p> Phage Host Finder?? provides a tool to predict phage-host relationships through the use of the attP/attB recognition sequences.
<br>
        <br>
This website was designed to assist in identifying hosts for bacteriophages (phages). Phages are nature’s
        natural tools to combat bacteria, but the bacterial host ranges are not easily identifiable. This site’s
        objective is to boost the ongoing research by offering a computational tool to more quickly and
        more efficiently predict phage-host interactions.

 </p>
    <br>
    <h2> attP/attB Search </h2>
  </body>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}

